/* Wrap */
.cs-wrap-content {
    border-radius: 20px;
    min-height: calc(100vh - 74px - 72px);
}

.cs-wrap-content > div {
    padding: 16px 27px;
}

/* Content Header */
.cs-content-header {
    margin-bottom: 12px;
}

.cs-content-title h2 {
    color: var(--dark-ticmi, #18120F);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 11px;
}

.cs-add-pelanggan button {
    background: #0F0F0F !important;
    border-radius: 50px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cs-add-pelanggan button img {
    margin-top: -2px;
    margin-right: 9px;
}

/* Filter */
.cs-wrap-filter {
    background: #ECF4E7;
    border-radius: 5px;
    padding: 15px 27px 16px 27px;
    margin-bottom: 14px;
    width: 100%;
}

/* Filter: Date */
.cs-filter-date {
    margin-right: 13px;
}

.cs-filter-date input[name="daterange"] {
    border-radius: 5px;
    border: 1px solid var(--outline-grey, #E0E0E0);
    background: #ECECEC;
    padding: 8.2px 30px 8.2px 19px;
}

.cs-filter-date .icon {
    cursor: pointer;
    position: absolute;
    margin-left: -39px;
    margin-top: 10px;
}

/* Filter: Product */
.cs-filter-product {
    height: 42px;
    /* max-width: 556px; */
    margin-right: 20px;
}

.cs-filter-product .input-group-text {
    background: #ECECEC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color: #000000;
}

.cs-filter-product .form-select {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

/* Filter: Button */
.cs-filter-button button {
    background: #7BB43F !important;
    border-radius: 50px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 94px;
}