/* Wrap */
.cs-wrap-content {
    border-radius: 20px;
    min-height: calc(100vh - 74px - 72px);
}

.cs-wrap-content > div {
    padding: 16px 27px;
}

/* Content Header */
.cs-content-header {
    margin-bottom: 12px;
}

.cs-content-title h2 {
    color: var(--dark-ticmi, #18120F);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 11px;
}

/* Footer */
.cs-footer-actions {
    position: fixed;
    bottom: 0;
    width: calc(100% - 312px);
    background: #ffffff;
}

.cs-footer-actions > div {
    padding: 19px 38px 15px 38px;
}

.cs-footer-form .cs-label span {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-right: 12px;
    top: 10px;
    position: relative;
}

.cs-footer-back-btn {
    padding: 10px 22px;
    border-radius: 5px;
    background: var(--icon-send-message, #2476F2); 
    color: var(--white-ticmi, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.cs-footer-back-btn span {
    margin-left: 10px;
}

/* Table */
.cs-invoice {
    color: #E31931;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    display: block;
    margin-bottom: 4px;
}

.cs-resend-invoice {
    color: #7BB43F;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline; 
    display: block;
}

.cs-list-produk {
    color: #1B6FBC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline; 
}

.cs-list-produk span {
    margin-left: 4px;
}

/* Search table */
.cs-search-table {
    height: 42px;
    max-width: 374px;
     /* position: absolute; */
    margin-left: 0;
    /* z-index: 10; */
}

.cs-search-table input {
    border-radius: 50px !important;
    border: 1px solid #C0C0C0;
    background: #FFF;
    padding-left: 22px;
    padding-right: 100px;
}

.cs-search-table .input-group-text {
    border-radius: 50px !important;
    background: #7BB43F;
    padding-left: 12px;
    padding-right: 12px;
    right: 0;
    position: absolute;
    height: 42px;
    z-index: 6;
}

.cs-search-table .input-group-text .icon {
    margin-right: 6px;
}

.cs-search-table .input-group-text .label {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

/* Hide show entries */
.dataTables_length {
    display: none;
}

/* Filter */
.cs-wrap-filter {
    background: #FFFFFF;
    /* border-radius: 5px; */
    /* padding: 15px 27px 16px 27px; */
    /* margin-bottom: 14px; */
    width: 100%;
}

/* Filter: Date */
.cs-filter-date {
    margin-right: 13px;
}

.cs-filter-date input[name="daterange"] {
    border-radius: 5px;
    border: 1px solid var(--outline-grey, #E0E0E0);
    background: #ECECEC;
    padding: 8.2px 30px 8.2px 19px;
}

.cs-filter-date .icon {
    cursor: pointer;
    position: absolute;
    margin-left: -39px;
    margin-top: 10px;
}

/* Filter: Product */
.cs-filter-product,
.cs-filter-status {
    height: 42px;
    /* max-width: 556px; */
    margin-right: 20px;
}

.cs-filter-product .input-group-text,
.cs-filter-status .input-group-text {
    background: #ECECEC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color: #000000;
}

.cs-filter-product .form-select,
.cs-filter-status .form-select {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

/* Profil Pelanggan */
.cs-profil-pelanggan .column-1 {
    width: 220px;
}

.cs-profil-pelanggan .column-1 > div {
    padding: 25px 39px 25px 44px;
}

.cs-profil-pelanggan .column-1 > div .avatar {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 24px;
}

.cs-profil-pelanggan .column-2 {
    width: calc(100% - 220px - 158px);
}

.cs-profil-pelanggan .column-2 > div {
    padding-bottom: 26px;
    padding-top: 26px;
}

.cs-profil-pelanggan .column-3 {
    width: 158px;
}

.cs-profil-pelanggan .column-3 > div {
    padding: 11px 9px;
}

.cs-profil-btn {
    border: 1px solid transparent; 
    width: 100%;
    padding: 8px;
    border-radius: 50px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 40px;
}

.cs-profil-btn.bg-success {
    background: #7BB43F !important;
    color: #ffffff !important;
    border-color: #7BB43F;
}

.cs-profil-btn.bg-success-transparent {
    background: #FFFFFF !important;
    color: #7BB43F !important;
    border-color: #7BB43F;
}

.cs-profil-btn.bg-danger {
    background: #E31931 !important;
    color: #FFFFFF !important;
    border-color: #E31931;
}

.cs-profil-btn.bg-dark {
    background: #1B1B1B !important;
    color: #FFFFFF !important;
    border-color: #1B1B1B;
}

.cs-profil-btn img {
    margin-right: 4px;
}

.cs-profil-nama {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.cs-profil-email {
    color: #252525;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-bottom: 16px;
}

.cs-profil-meta tbody tr td {
    color: #252525;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 5px; 
}